@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  font-family: Manrope,'Courier New', Courier, monospace;
}

@media screen and (width: 360px) {
  body {
    width: unset;
  }
}

@media screen and (max-width: 1245px) {
  #root {
    background: #fafafa;
  }
}

#root {
  width: 100%;
}